.advantages__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-min) {
    margin-bottom: 37px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 32px;
  }
}

.advantages__list {
  display: grid;
  grid-row-gap: 20px;

  @media (min-width: $tablet-min) {
    grid-template-columns: 324px 324px;
    grid-row-gap: 37px;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-min) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  min-height: 60px;

  @media (min-width: $tablet-min) {
    flex-direction: column;
    min-height: 280px;
    padding-bottom: 57px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-min) {
    min-height: 280px;
    padding-bottom: 57px;
    padding-top: 40px;
  }
}

.advantages__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 60px;
  background-color: $basic_green;

  @media (min-width: $tablet-min) {
    height: 80px;
    width: 80px;
  }

  @media (min-width: $desktop-min) {
    height: 80px;
    width: 80px;
  }
}

.advantages__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  margin-top: 3px;
  padding-left: 20px;
  max-width: 220px;
  z-index: 2;

  @media (min-width: $tablet-min) {
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-top: 31px;
    width: 265px;
    padding-left: 0;
  }

  @media (min-width: $desktop-min) {
    width: 249px;
  }
}

.advantages__number {
  display: none;
  position: absolute;

  @media (min-width: $tablet-min) {
    z-index: 1;
    display: block;
    bottom: 0;
    right: 82px;
    font-size: 280px;
    line-height: 280px;
    color: $basic_grey;
  }

  @media (min-width: $desktop-min) {
    right: 0;
  }
}
