.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $basic_green; 
  color: white; 
  border:none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  &:hover,
  &:focus,
  &:active{
    outline: none;
    background-color: $basic_green-2;
  }
  &:active{
    & span{
      opacity: 0.3;
    }
  }
  @media(min-width: $tablet-min){
    font-size: 20px;
    line-height: 0;
  }
}