.catalog{}

.catalog__list{
  display: grid;
  @media(min-width:$tablet-min){
    justify-content: center;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 60px;
  }
  @media(min-width:$desktop-min){
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 60px;
  }
}

.catalog__item{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 210px;
  border-bottom: 1px solid #EBEBEB;
  @media(min-width:$tablet-min){
    border: none;
    min-height:511px;
    justify-content: flex-end; 
  }
}

.catalog__wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 25px;
  padding-top: 19px;
    @media(min-width:$tablet-min){
      padding: 0;
      max-width: 100%;
      background-color: #F2F2F2;
      height: 430px;
      justify-content: flex-end;
    }
  &--more{
    background-color: inherit;
    justify-content: space-between;
    @media(min-width:$tablet-min){
      border: 2px solid #F2F2F2;
    }
  }
}

.catalog__link{
  display: flex;
  color: black;
  justify-content: space-between;
  min-height: 112px;
  @media(min-width:$tablet-min){
    flex-direction: column;
    min-height: auto;
    margin-top: 0;
    align-items: center;
    margin-bottom: 33px;
  }
  &--more{
    flex-direction: column;
    align-items: center;
    @media(min-width:$tablet-min){
      justify-content: flex-start;
      margin-top:52px;
    }
  }
}

.catalog__img-box{
  align-items: center;
  height: 144px;
  width: 140px;
}

.catalog__img{
  @media(min-width:$tablet-min){
    position: absolute;
    margin: 0 auto;
    right: 0; left: 0;
    bottom: 310px;
  }
}

.catalog__more-img{
  margin-bottom: 23px;
  @media(min-width:$tablet-min){
    margin-bottom: 49px;
    height: 60px;
    width: 60px;
  }
}
.catalog__info{
  display: flex;
  flex-direction: column;
  @media(min-width:$tablet-min){
    width: 100%;
    padding: 0 38px;
    align-items: center;
  }
  @media(min-width:$desktop-min){

  }
}

.catalog__info-list{
  display: flex;
  flex-direction: column;
  width: 142px;
  margin: 0;
  @media(min-width:$tablet-min){
    width: 100%;
  }
}

.catalog__info-title{
  margin: 0;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  font-weight: 400;
  width: 80px;
  @media(min-width:$tablet-min){
    margin:0;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
  }
  &--more{
    margin-bottom: 8px;
    width: auto;
    @media(min-width:$tablet-min){
      margin-bottom: 23px;
      width: 140px;
      text-align: center;
    }
  }
}

.catalog__info-box{
  display: flex;
  justify-content: space-between;
  @media(min-width:$tablet-min){
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 9px;
    &:not(:first-child){
      padding-top: 7px;
    }
  }
}

.catalog__info-options,
.catalog__info-value{
  margin:0;
  font-size:12px;
  line-height: 16px;
  color: $special_dark-grey;
  font-family: Arial;
  @media(min-width:$tablet-min){
    font-size:16px;
  }
}

.catalog__button{
  height: 40px;
  font-size: 16px;
  @media(min-width:$tablet-min){
    margin: 0 36px;
    margin-bottom: 40px;
  }
  &--more{
    background-color:$basic_grey;
    color: $special_dark-grey;
    &:hover,
    &:focus,
    &:active{
      outline: none;
      background-color: #EBEBEB;
    }
    &:active{
      background-color: $basic_grey-2;
      span{
        opacity: 0.3;
      }
    }
  } 
}

.catalog__description-viewAll{
  margin: 0;
  color: $special_dark-grey;
  font-size: 12px;
  line-height: 16px;
  font-family: Arial;
  @media(min-width:$tablet-min){
    font-size: 16px;
    line-height: 18px;
    width: 170px; 
    text-align: center;  
  }
}
