.example{
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top:27px; 
  background-color: #EAEAEA;
  margin-top: 42px;
  @media(min-width:$tablet-min){
    margin-top: 45;
    border-top: 1px solid #E6E6E6; 
    padding-top:47px;
    background-color: white; 
  }
  @media(min-width:$desktop-min){
    border-top: none; 
    padding-top:0; 
    display:grid;
    margin-top: 71px;
    column-gap: 80px;
    grid-template-areas:
    "example__title example__wrapper-img" 
    "example__descripion example__wrapper-img"
    "example__box example__wrapper-img";  
    grid-template-columns: 570px 570px; 
    background-color: #F2F2F2; 
    justify-content: center; 
    &::before{
      content: "";
      position: absolute;
      height: 136px;
      width: 100%;
      background-color: white;
    }
  }
}

.example__title{
  z-index: 3;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 33px;
  @media(min-width:$tablet-min){
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
  @media(min-width:$desktop-min){
    margin-bottom: 70px;
    padding-bottom: 76px;
    grid-area: example__title;
    background-color:white;
  }
}

.example__descripion{
  font-size: 14px;
  line-height: 18px;
  font-family: Arial;
  margin-bottom: 25px;
  @media(min-width:$tablet-min){
    font-size: 16px;
    line-height: 24px;
    color: $special_dark-grey;
    margin-bottom: 54px;
  }
  @media(min-width:$desktop-min){
    margin:0;
    margin-bottom: 69px;
    width:436px;
    grid-area:example__descripion;
  }
}

.example__box{
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
  @media(min-width:$tablet-min){
    margin-bottom: 250px;
    flex-direction: row;
    justify-content: space-between;
  }
  @media(min-width:$desktop-min){
    margin:0;
    margin-bottom:75px;
    flex-direction: column;
    width:auto;
    grid-area:example__box;
  }
}

.example__list{
  display: flex;
  justify-content: space-between;
  @media(min-width:$tablet-min){
    width: 366px;
  }
  @media(min-width:$desktop-min){
  }
}

.example__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  height: 56px;
  border-top: 1px solid $special_grey;
  border-right: 1px solid $special_grey;
  border-left: 1px solid $special_grey;
  margin-bottom: 37px;
  @media(min-width:$tablet-min){
    width: 162px;
    height: 72px;
    margin-bottom: 0;
  }
  @media(min-width:$desktop-min){
  }
}

.example__total{
  font-size: 24px;
  line-height: 24px;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  text-transform: uppercase;
  @media(min-width:$tablet-min){
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  @media(min-width:$desktop-min){}
}

.example__total-text{
  position: relative;
  text-transform: lowercase;
  top: -9px;
  text-align: center;
  width: 80px;
  font-size:12px;
  line-height: 12px; 
  font-family: Arial;
  @media(min-width:$tablet-min){
    width: 114px;
    font-size:14px;
    line-height: 14px;
    &--width{
      width: 127px;
    }
  }
  @media(min-width:$desktop-min){}
  &::before{
    display:block;
    position: absolute;
    content: "";
    width: 18px;
    height: 1px;
    background-color: $special_grey;
    top: 6px;
    left:-21px;
    @media(min-width:$tablet-min){
      width: 20px;
      top: 7px;
      left:-23px;
    }
    @media(min-width:$desktop-min){}
  }
  &--width::before{
  @media(min-width:$tablet-min){
    width: 10px;
    left:-17px;
  }
  }
  &::after{
    display:block;
    position: absolute;
    content: "";
    width: 19px;
    height: 1px;
    background-color: $special_grey;
    top: 6px;
    right:-21px;
    @media(min-width:$tablet-min){
      width: 20px;
      top: 7px;
      right:-23px;
    }
    @media(min-width:$desktop-min){}
  }
  &--width::after{
  @media(min-width:$tablet-min){
    width: 10px;
    right:-17px;
  }
}
}

.example__price{
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  margin-top:-12px;
  @media(min-width:$tablet-min){
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-self: center;
    align-items: flex-end;
    width:174px; 
  }
  @media(min-width:$desktop-min){
    flex-direction: row;
    width:327px;
    justify-content: space-between; 
    margin-top:55px;
    align-self: start;
  }
}

.slider{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 320px;
  @media(min-width:$tablet-min){
    width: 100%;
    height: 462px;
    background-color: #EAEAEA;
  }
  @media(min-width:$desktop-min){
    margin-top:auto;
    height: auto;
    grid-area:example__wrapper-img;
    width:auto;
    background-color: inherit;
  }
}

.slider__img{
    width: 311px;
    height: 232px;
  @media(min-width: $tablet-min){
    width: 690px;
    height: 517px;
    position: absolute;
    margin:0 auto;
    right: 0;
    left: 0;
    top: -200px;
  }
  @media(min-width: $desktop-min){
    z-index:30;
    top: -530px;
    left: -150px;
  }
}




.slider-toggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 207px;
  padding-right: 2px;
  padding-left: 8px;
  margin-bottom: 36px;
  text-transform: uppercase; 
  font-size: 16px;
  line-height: 20px;
  @media(min-width:$tablet-min){
    width: 572px;
    padding: 0; 
    margin-bottom: 70px;  
  }
  @media(min-width:$desktop-min){} 
}

.slider-toggle__text{
  font-size: 16px;
  line-height: 20px;
}

.slider-toggle__wrapper{
  position: relative;
  height: 14px;
  width: 84px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  background-color: white;
  @media(min-width: $tablet-min){
    display: flex;
    align-items: center;
    height: 34px;
    width: 428px;
    background-color: inherit;
    border: none;
    &::before{
      content:"";
      cursor: pointer;
      position: absolute;

      display: block;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      border: 1px solid #CDCDCD;
      background-color: white;
      z-index: 5;
      margin: 0 auto;
      right: 0;
      left: 0;
    }
    &:active::before{
      border-color:$basic_green;
    }
    &::after{
      cursor: pointer;
      content:"";
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basic_green;
      z-index: 6;
      margin: 0 auto;
      right: 0;
      left: 0;
    }
  }
}

.slider-toggle__list{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  @media(min-width: $tablet-min){
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background-color: #DCDCDC;
  }
}

.slider-toggle__item{
  display: none;
  margin:0 6px;
  width: 35px;
  height: 6px;
  background-color: $basic_green;
  border-radius: 6px;
  @media(max-width: $mobile-max){
    &--current{
      display: block;
    }
  }
}