.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  @media(min-width:$tablet-min){
    margin-top: 8px;
  }
  @media(min-width:$desktop-min){
  margin-top: 0;
  }
}

.footer__location{
  min-height: 114px;
}



.footer__map{
  margin-bottom: -3px;
  width: 100vw;
  height: 362px;
  @media(min-width: $tablet-min){
    width: 100%;
    height:400px; 
  }
}

.footer__footer{
  background-color: $basic_grey;
}

.footer__wrapper{
  display: flex;
  flex-direction: column;
  @media(min-width:$tablet-min){
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    height: 34px; 
    margin-bottom: 61px;
    margin-top: 55px;
  @media(min-width:$desktop-min){
    width: 1220px;
    margin-bottom: 62px;
    margin-top: 63px;
  }
  }
}

.footer__logo{
  margin:0 auto;
  padding-top: 42px;
  padding-bottom: 32px;
  @media(min-width:$tablet-min){
    padding: 0;
    margin:0;
  }
  &:hover,
  &:focus{
    opacity: 0.8;
  }
  &:active{
    opacity: 0.6;
  }
}

.footer__social{
  display: flex;
  align-items: center;
  min-height: 63px;
  @media(min-width:$tablet-min){
    min-height: auto;
  }
}

.footer__copyright{
  width: 280px;
  height: 34px;
  @media(min-width:$tablet-min){
    height: auto;
    width: 163px;
  }  
}