.form-title {
  text-align: left;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 37px;
  margin-top: 27px;

  @media (min-width: $tablet-min) {
  margin: 0;
  margin-bottom: 54px;
  font-size: 60px;
  line-height: 60px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 56px;
  }
}
