.header-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  margin: 0 auto;
  width: 280px;
  @media(min-width:$tablet-min){
    align-items: flex-start;
    padding-top: 24px;
    margin: 0;
    width: 175px;
  }
  @media(min-width:$desktop-min){
    padding-top: 53px;
    width:202px;
  }
}

.header-logo__logo{
}

.header-logo__toggle{
  display: none;
  @media(max-width:$mobile-max){
  display: block;
  position: relative;
  border: none;
  background-color: inherit;
  }
}
