.main-nav{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  flex-direction: column;
  @media(min-width:$tablet-min){
  font-size: 18px;
  flex-direction: row;
  width: 100%;
  }
  @media(min-width:$desktop-min){
  }
}

.main-nav__list{
  @media(min-width:$tablet-min){
    min-width: 440px;  
  }
  @media(min-width:$desktop-min){
    min-width: 479px;
  }
}

.main-nav--closed .header-logo__toggle{
  $color:black;
  margin-bottom: 8px;
  margin-top: 14px;
  width: 24px;
  height: 16px;
  &::before{
    position:absolute;
    top: 0; left:0;
    content:"";
    width:100%;
    height: 1.5px;
    background-color: $color;
    box-shadow: 0 8px 0 0 $color, 0 16px 0 0 $color;
  }
}

.main-nav--closed .site-list__item{
  @media(max-width: $mobile-max){
    display: none;
  }
}

.main-nav--nojs .site-list__item{ 
  @media(max-width: $mobile-max){
  display: flex;
  }
}

.main-nav--opened .header-logo__toggle{
  $color:black;
  margin-top: 6px;
  width: 18px;
  height: 18px;
   &::before,
   &::after{
    position:absolute;
    top: 8px; left:-3px;
    content:"";
    width:24.5px;
    height: 1.5px;
    background-color: $color;
  }
  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }
}
