.page-header{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  @media(max-width:$mobile-max){
    width: 100%;
  }
  @media(min-width:$tablet-min){
    min-height: 76px;
    flex-direction: row;
    justify-content: space-between;
  }
  @media(min-width:$desktop-min){
    min-height: 109px;
    &::after{
      content: url("../img/index-background-desktop@1x.jpg");
      position: absolute;
      z-index: -1;
      right: -110px;
    }
  }
}

