.site-list{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  @media(min-width: $tablet-min){
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list a{
  color:black;
}

.site-list--index a{
  @media(min-width: $desktop-min){
    color:white;
  }
}

.site-list--index .site-list__item--line-color{
  @media(min-width: $desktop-min){
    border-bottom: 2px solid white;
  }
}
.site-list__item{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
  border-top: 1px solid #E6E6E6;
  &:hover,
  &:focus{
    opacity: 0.7;
  }
  &:active{
    opacity: 0.5;
  }
  @media(min-width: $tablet-min){
    border-top: none;
    min-height: 36px;
    padding-bottom: 10px;
    &--line-color{
      border-bottom: 2px solid $basic_green;
      padding-top: 2px;
      &:hover,
      &:focus{
        border-color: black;
      }
    }
  }
}

.site-list--index .site-list__item{
  @media(min-width: $desktop-min){
    &:hover,
    &:focus{
      opacity: 0.8;
    }
   &:active{
      opacity: 0.6;
   }
   &--line-color{
      &:hover,
      &:focus{
        border-color: white;
      }
   }
  }
} 
